<div class="sidebar">
   
    <a href="/admin/dashboard"><p style="font-size: large;margin-top: 25px">Dashboard</p></a>
    <a href="/admin/userManagement"><p style="font-size: large;margin-top: 25px;">User Management</p></a>
    <a href="/admin/salesreport"><p style="font-size: large;margin-top: 25px;">Sales Report</p></a>
    <a href="/admin/productlist"><p style="font-size: large;margin-top: 25px;">Product Management</p></a>
    <a href="/admin/category"><p style="font-size: large;margin-top: 25px;">Category Management</p></a>
    <a href="/admin/coupon"><p style="font-size: large;margin-top: 25px;">Coupon Management</p></a>
    <a href="/admin/orderpage"><p style="font-size: large;margin-top: 25px;">OrderManagement</p></a>
    
    <a style="font-size: large;margin-top: 5rem;" href="#" onclick="showConfirmation()">Logout</a>
       
  </div>

