<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" id="company-logo" href="#">

      <span class="company-name">Velocity</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" id="nav-item" aria-current="page" href="/userhome">Home</a>
        </li>





        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" id="nav-item">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% category.forEach((item)=> { %>
              <li>
                <%= item.category %>
              </li>
              <% }); %>
          </ul>
        </li>



        <li class="nav-item">
          <a class="nav-link" id="nav-item" href="/shop">Shop</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="nav-item" href="#footer">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-item" href="#footer">Conduct</a>
        </li>



      </ul>


      <a class="nav-link " id="nav-item" href="/wishlist/wishlistpage"><i class="fa-solid fa-heart" style="margin-right: 2rem;"></i></a>
      <a class="nav-link" id="nav-item" href="/cart/cartpage"><i class="fa-solid fa-cart-shopping"
          style="margin-right: 2rem;"></i></a>

      <a href="/profile/profile" style="color: black; text-decoration: none;"><i class="fas fa-user"></i>Profile</a>

    </div>
  </div>
</nav>