<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <h3> <span class="company-name">Velocity</span></h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div id="sidebar" class="col-sm-4">
        <a href="/profile/profile" class="nav-link"><i class="fas fa-user"></i> Profile</a>
        <a href="/profile/useraddress" class="nav-link"><i class="fas fa-address-book"></i> Address</a>
        <a href="/profile/showorders" class="nav-link"><i class="fas fa-shopping-cart"></i> Orders</a>
        <a href="/shop" class="nav-link"><i class="fas fa-shopping-bag"></i> Shop</a>
        <a href="#" onclick="confirmDelete()" class="nav-link"><i class="fas fa-sign-out-alt"></i>
          Logout</a>
      </div>
    </div>
  </div>
</nav>